* {
  margin: 0;
  padding: 0;
  /* max-width: 2000px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  background-color: #080a21;
  color: white;
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.main-section {
  background-color: #080a21;
  background-image: url("./images/bg14.jpg");
  background-position: top -160px left;
  background-size: 1200px 2000px;
  background-repeat: no-repeat;
  position: relative;
  height: 1900px;
  min-height: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 500px) {
  .main-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2rem;
  }
}

@media (min-width: 800px) {
  .main-section {
    background-position: top -200px left;
    background-size: 1600px 1600px;
    height: 1600px;
  }
}

@media (min-width: 1400px) {
  .main-section {
    background-size: 3200px 3200px;
    background-position: top -255px left -300px;
  }
}

.breadcrumbMenu {
  color: #ebe2d5;
  width: 100%;
  text-align: left;
}

.breadcrumbMenu a.section {
  color: #ebe2d5;
}

i.right.chevron.icon.divider {
  color: #96928d;
}

i.right.arrow.icon.divider {
  color: #d6cec3;
}

.content {
  padding: 2rem;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
.ui.button {
  margin: 1rem;
}

.race-text,
.class-text {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 400px) and (max-width: 600px) {
  .home-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 600px) {
  .home-text,
  .race-text,
  .class-text {
    text-align: left;
  }
}

.race-accordian,
.class-accordian {
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .race-accordian,
  .class-accordian {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.accordian,
.accordian .title {
  text-align: left;
}

.race-stats,
.race-qualities,
.class-stats,
.class-qualities {
  text-align: left;
  padding: 1.5rem;
}

.race-radio,
.class-radio {
  padding: 1rem;
}

.race-radio .radio-option,
.class-radio .radio-option {
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.radio-input {
  margin-left: 1.2rem;
}

.ui.styled.accordion,
.ui.styled.accordion .accordion,
.ui.styled.accordion div.title {
  border-radius: 0.28571429rem;
}

.ui.accordion .accordion .title,
.ui.styled.accordion .content,
.ui.accordion .title {
  text-align: left;
}

.ui.styled.accordion .content {
  padding-left: 1.4rem;
}

.ClassAccordian,
.blurb {
  text-align: left;
  color: black;
}

.blurb {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

@media (max-width: 900px) {
  div.ui.inverted.pointing.secondary.vertical.menu {
    width: 100px;
  }
  a.item {
    width: 100px;
  }
}

.ability-table {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.diceSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.diceImageDisplay {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.diceImage {
  width: 2rem;
  margin: 2rem;
  margin-top: 1rem;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-10deg);
            transform: translate(-1px, -2px) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(10deg);
            transform: translate(-3px, 0px) rotate(10deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(6deg);
            transform: translate(1px, -1px) rotate(6deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-6deg);
            transform: translate(-1px, 2px) rotate(-6deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-6deg);
            transform: translate(1px, -2px) rotate(-6deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-10deg);
            transform: translate(-1px, -2px) rotate(-10deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(10deg);
            transform: translate(-3px, 0px) rotate(10deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(6deg);
            transform: translate(1px, -1px) rotate(6deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-6deg);
            transform: translate(-1px, 2px) rotate(-6deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-6deg);
            transform: translate(1px, -2px) rotate(-6deg);
  }
}

.character-summary {
  text-align: left;
  border: #d6cec3 solid 1px;
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.character-summary h4 {
  text-align: center;
}

.footer-section {
  padding: 1rem;
  background-color: #080a21;
  color: #e2e9f3;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=App.css.map */